/* dentro de estilo.css */
body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 
  color: darkorange;
  text-align: center;
  background-color: rgb(8, 8, 8) ;
  text-shadow: 5px 3px 5px;
}
#board {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 300px;
    margin: auto;
  }
  
  .cells {
    width: 30%;
    height: 100px;
   
    border: 1px solid rgb(155, 146, 16);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    color: rgb(155, 146, 16);
    cursor: pointer;
    
  }
  